# binaries built by make; symlink originals committed instead
bin/*.asm
bin/*.c
bin/*.rs
bin/*.zig
bin/*.go

# temporary corpus generation files
corpus/*.txt

# temporary build files
.make/
*.debug
__pycache__

# nonpublic
.envrc.mine

# thanks
.codex
